@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    var a = "Compra de tiquetes aqui"
    <h1 class="display-4"> "Compra de tiquetes aqui" </h1>
    <p>Crear botones y conectar a links en esta pagina <a href="">no a un link pero un boton</a>.</p>
</div>
