@model Proyecto_Cine_metodologia.Models.Captura
@using Funcion_HTTP
@{
    ViewData["Title"] = "PaginaCompras";
}

<nav>
    <hr />
</nav>
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    label {
        display: inline-block;
        color: black;
        border-radius: 4px;
        font: bolder;
    }

    

    content-wrap {
        padding-bottom: 2.5rem; /* Footer height */
    }
    footer {
        position: relative;
        left: 0px;
        padding-top: 2%;
        padding-bottom: 2%;
        bottom: 0px;
        height: 10%;
        width: 100%;
        color: gold;
        background-color: #1abc9c ;
    }


</style >
<body>
    <form method="post">
        <div><b>Por favor Introducir su nombre y correo para recibir su factura</b></div>
        <label> Pelicula</label>
        <input asp-for="Pelicula" class="form-control" readonly />

        <label> Nombre</label>

        <input asp-for="Nombre" class="form-control" />


        <label>Asiento</label>
        <input asp-for="Asiento" class="form-control" readonly /> 

        <label>Fecha</label>
        <input asp-for="Fecha" class="form-control" readonly /> 
        <label>Sala</label>
        <input asp-for="Sala" class="form-control" readonly /> 
        <label>Precio</label>
        <input asp-for="Precio" class="form-control"  readonly /> 

        @*<input type="text" name="correo" />*@

        <label>  Correo</label>

        <input asp-for="Email" class="form-control" />



        <button type="submit" value="Create" class="btn btn-secondary"> Enviar Factura </button>
    </form>

    @*<button type="button" class="btn btn-secondary" onclick="">Enviar factura</input>*@


    @*<input type="submit" value="Create" class="btn btn-primary">*@

    

</body>

