@model Proyecto_Cine_metodologia.Models.Captura
@using Funcion_HTTP
@{
    ViewData["Title"] = "PaginaCompras";
}

<nav>
    <hr />
</nav>
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    label {
        display: inline-block;
        color: aquamarine;
        border-radius: 4px;
    }

    <style >
    footer {
        clear: both;
        position: relative;
        height: 200px;
        margin-top: -200px;
        color: red
    }

    page-container {
        position: absolute;
        min-height: 100vh;
    }

    content-wrap {
        padding-bottom: 2.5rem; /* Footer height */
    }

</style >
<body>
    <form method="post">
        <div><b>Porfavor Introducir su nombre y correo para recibir su factura</b></div>
        Pelicula
        <input type="text" name="pelicula" readonly />

        <label> Nombre</label>

        <input asp-for="Nombre" class="form-control" />


        Asiento
        <input type="text" name="nasiento" readonly />

        Fecha
        <input type="text" name="fecha" readonly />
        Sala
        <input type="text" name="nsala" readonly />
        Precio
        <input type="text" name="precio" readonly />
        
        @*<input type="text" name="correo" />*@

    <label>  Correo</label>

        <input name="texto" asp-for="Email" class="form-control" />



        <button type="submit" value="Create" class="btn btn-secondary" > @*nombre aqui *@ </button>
    </form>
    
    @*<button type="button" class="btn btn-secondary" onclick="">Enviar factura</input>*@
    

    @*<input type="submit" value="Create" class="btn btn-primary">*@

</body>
<footer class="footer text-center">
    <div id="page-container" class="container">
        <div id="content-wrap">

            &copy; 2021 - Protecto Metodología 2 - <a asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy</a>
        </div>

    </div>
</footer>
