@model Proyecto_Cine_metodologia.Models.Captura
@using Funcion_HTTP
@{
    ViewData["Title"] = "PaginaCompras";
}
<nav>
    <hr />
</nav>
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    label {
        display: inline-block;
        color: black;
        border-radius: 4px;
        font: bolder;
    }



    content-wrap {
        padding-bottom: 2.5rem; /* Footer height */
    }

    footer {
        position: absolute;
        left: 0px;
        padding-top: 2%;
        padding-bottom: 2%;
        bottom: 0px;
        height: 10%;
        width: 100%;
        color: gold;
        background-color: #1abc9c;
    }
</style>
<body>
    <h1><b>Gracias por su compra</b></h1>


</body>
